<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="mainDiv">
      <h1>WELCOM TO YOUR <span style="color: rgb(51, 51, 51)">FLIGHT </span> MANAGER</h1>
      <a href="/flights">> CONTINUE < </a>
    </div>
  </body>
</html>