body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/pur.png);
  background-repeat: no-repeat;
  background-color: #2C2639;
  background-position-x: center;
  background-size: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
nav{
  display: flex;
  justify-content: space-around;
  font-family: 'Lobster', cursive;
  width: 100%;
  height: 100px;
  /* margin-top:-1%; */
  background-size: 100%;
  background-image: url('../images/cld4.png');
  background-repeat: no-repeat;
}
nav a{
  padding: 0;
  margin-top: 10%;
  font-size: 20px;
  color: black;
  text-decoration: none;
}
.showGridBox h1 {
  color: white;
  text-shadow:5px 5px 5px black ;
  
}
main{
  font-family: 'Aleo', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainDiv{
  margin-top: 15%;
  color: white;
  text-align: center;

}
.mainDiv span{ 
  font-size: 25px;
}
.mainDiv h1{ 
  font-size: 40px;
}
.mainDiv a{
  padding: 0 20px 0 20px;
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  color: white;
}
.mainDiv a:hover{
  padding: 0;
  transition: .5s;
}
.list{
  color: white;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 1px;
  border-radius: 20px;
  width: auto;
  background-color: rgba(0, 0, 0, 0.568);
  box-shadow: 10px 10px 10px rgba(23, 23, 23, 0.425);
  padding: 15px;
  /* transition: 1.5s; */
}
th {padding: 10px 40px;   }
tr td:nth-child(1), tr td:nth-child(2){ text-align:center }
#detailBtn{
  text-decoration: none;
  border: black solid 1px;
  border-radius: 20px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  background-color: #F5B943;
  color: #24354B;
}
#detailBtn:hover{
  transition: .3s;
  background-color: #24354B;
  color: #F5B943;
}
.list thead{
  font-size: 40px;
}

.list tbody{
  font-size: 30px;
}
#new-form{
  color: white;
  /* background-color:rgba(0, 0, 0, 0.666); */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}
.addBoxMain{
  display: block;
  position: relative;
  border: solid black 1px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.568);
}
.addBox{
  width: auto;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

.addBox label{
  font-size: 50px;
}
.addBox select{
  font-size: 40px;
  outline: none;
}
.addBox input{
font-size: 30px;
border-radius: 20px;
outline: none;
text-align: center;
}
.submit{
  margin-top: 15px;
  width: 150px;
  height: 50px;
  transition: 0.3s;
  background-color: #F5B943;
  color: #24354B;
}
.submit:hover{
  background-color: #24354B;
  color: #F5B943;
}
.Departure{
  color: white;
  padding: 10px;
  background-color:rgba(0, 0, 0, 0.568);
  border: solid black 1px;
  border-radius: 20px;
  width: 500px;
  /* height: auto; */
  font-size: 30px;
  display: grid;
  grid-template-columns: auto auto;
  /* grid-gap: 1rem; */
}
.arrival{
  color: white;
  padding: 10px;
  padding-top: 0;
  padding-bottom:50px ;
  background-color:rgba(0, 0, 0, 0.568) ;
  border: solid black 1px;
  border-radius: 20px;
  width: 500px;
  font-size: 30px;
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: 2rem;
}
.showGridBox{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}
.detaiDiv{
  margin-top: 13px;
  text-align: center;
  color: white;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1rem;
  padding: 10px;
  padding-bottom: 19px;
  background-color:rgba(0, 0, 0, 0.568);
  border: solid black 1px;
  border-radius: 20px;
  width: 500px;
}
.detaiDiv select{
  font-size: 20px;
  outline: none;
}
.detaiDiv input{
  font-size: 20px;
border-radius: 20px;
outline: none;
text-align: center;
}
.detaiDiv .submit{
  width: 100px;
  height: 35px;
  font-size: 16px;
}
.backBtn{
  outline: none;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  margin: 30px;
  font-size: 16px;
  background-color: #F5B943;
  color: #24354B;
}
.backBtn:hover{
  transition: .3s;
  background-color: #24354B;
  color: #F5B943;
}
.ticket{
  width: 600px;
  height: 405px;
  background-image: url(../images/tickets2.png);
  background-size:100% ;
  background-repeat: no-repeat;
}
.ticketForm{
  width: 50%;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-top: 20%;
  margin-left: 12%;
  font-size: 30px;
}
.ticketForm input {
  width: 120px;
  font-size: 20px;
  border-radius: 20px;
  border: solid black 1px;
  background-color: rgba(36, 53, 75, 0.24);
  outline: none;
  text-align: center;
}
.ticketForm button{
  outline: none;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  margin-top: 38%;
  margin-left: 112%;
  font-size: 16px;
  background-color: #F5B943;
  color: #24354B;
}
.ticketForm button:hover{
  transition: .3s;
  background-color: #24354B;
  color: #F5B943;
}

.allTickets{
  margin-top: 13px;
  color: white;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 50px;
  background-color:rgba(0, 0, 0, 0.568);
  border: solid black 1px;
  border-radius: 20px;
  width: 500px;
  font-size: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 2rem;
}
.addingTicketToFlight{
  text-align: center;
  color: white;
  padding: 10px;
  background-color:rgba(0, 0, 0, 0.568);
  border: solid black 1px;
  border-radius: 20px;
  width: 500px;
  font-size: 30px;
}
.addingTicketToFlight select{
  font-size: 30px;
  outline: none;
}
.addingTicketToFlight button{
  outline: none;
  /* width: 100px; */
  height: 40px;
  border-radius: 20px;
  font-size: 16px;
  background-color: #F5B943;
  color: #24354B;
}
.addingTicketToFlight button:hover{
  transition: .3s;
  background-color: #24354B;
  color: rgb(48, 45, 39);
}
.makeTicketBtn{
  margin-top: 12px;
  border: solid white 1px;
  border-radius: 20px;
  width: 518px;
  height: 40px;
  text-align: center;
  font-size: 35px;
  text-decoration: none;
  background-color: #F5B943;
  color: #24354B;
}
.makeTicketBtn:hover{
  color: #F5B943;
  background-color: #24354B;
  transition: .3s;
}

@media only screen and (min-width: 700px) {
  nav{
    width: 70%;
    height: 320px;
  }
  nav a{
    margin-top: 10.5%;
    font-size: 60px;
  }
}
